<!-- logo   user, home button -->

<div class="nav-container">
  <div class="logo">
    <a href="/">
      <h3>DEVFEEL</h3>
    </a>
  </div>

  {% if request.user.is_authenticated %}
  <div class="nav-profile authenticated">
    <div class="dropdown-image">
      <img class="nav-profile-image" src="{{request.user.avatar.url}}" alt="" />
    </div>

    <!-- Dropdown container -->
    <div class="dropdown-container">
      <a class="dropdown-link" href="{% url 'user-profile' request.user.id%}">
        <img class="dropdown-profile" src="/static/images/icons/profile.svg" alt="" />
        <p>Edit Profile</p>
        <span>></span>
      </a>

      <a class="dropdown-link logout-link" href="{% url 'logout'%}">
        <img class="dropdown-logout" src="/static/images/icons/logout.svg" alt="" />
        <p>Logout</p>
        <span>></span>
      </a>

      {% else %}
      <!-- exclude on login page -->
      {% block login_nav %}
      <div class="nav-profile unauthenticated" id="nav-profile-login">
        <img src="/static/images/default_images/avatar.svg" alt="" />
        <a href="{% url 'login' %}" class="login">
          <p>login</p>
        </a>
      </div>
      {% endblock login_nav %} {% endif %}
    </div>
  </div>

  <!-- <hr /> -->
</div>

<script src="/static/js/navbar.js"></script>
