{% extends 'main.html' %} {% load static %}
<!-- start block -->
{% block content %}
<main>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- start for -->
    <!-- {{form.media}} {{form.as_p}} -->
    <!-- {% for field in form %}
    <div>
      <label for="">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %} -->

    <div>
      <label for="">Topic</label>
      {{form.topic}}
    </div>

    <div>
      <label for="">Description</label>
      {{form.description}}
    </div>
    <div>
      <label for="">Body</label>
      {{form.body}}
    </div>
    <div>
      <label for="">Upload a post image:</label>
      {{form.post_image}}
    </div>
    <div></div>

    {{form.media}}

    <button type="submit">submit</button>
  </form>

  <script src="{% static 'js/config.js' %}"></script>
  <!-- <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script> -->
</main>
{% endblock content %}
