{% extends 'main.html' %} {% load like_tags %} {% load static %}

<!-- start block -->
{% block content %}
<main class="expand-post-page">
  <div class="expand-post-container">
    <div class="post-author">
      <div>
        <img class="post-author-image" src="{{post.author.avatar.url}}" alt="" />
      </div>

      <div class="post-author-date">
        <a href="{% url 'user-profile' post.author.id %}">{{post.author.name}}</a>

        <p>{{post.post_date|date:"M d"}}</p>
      </div>

      {% if request.user == post.author %}
      <div class="post-author-edit">
        <a href="{% url 'update-post' post.id %}">edit</a>
        <a href="{% url 'delete-post' post.id%}">delete</a>
      </div>
      {% endif %}
    </div>

    <div class="post-topic">
      <h3 class="topic-font">{{post.topic}}</h3>
      <!-- <h4>{{post.description}}</h4> -->
    </div>

    <div>
      <p>{{post.body|safe}}</p>
    </div>

    <!-- LIKES -->
    <div>
      {% if request.user.is_authenticated %}
      <button class="post-like-button" data-post-id="{{post.id}}">
        {% if post|is_post_liked:request.user %}

        <!-- gap -->
        Unlike {% else %} like {% endif%}
      </button>

      {% endif %}
      <!-- like count -->
      <span class="likes-display" id="like-count-{{post.id}}">
        {{post.likes.count}}
        <!-- if -->
        {% if post.likes.count == 1 %} like {% else %} likes {%endif%}
      </span>
    </div>
  </div>
  <!-- <hr /> -->

  <!-- COMMENTS form -->
  {% if request.user.is_authenticated %}
  <div class="comment-form-container">
    <div class="input-comment-avatar">
      <img src="{{request.user.avatar.url}}" alt="" />
    </div>

    <form action="" id="comment-form" method="POST">
      {% csrf_token %}
      <div>
        <textarea name="comment-text" cols="50" rows="3" placeholder="Write a comment..."></textarea>
        <br />
        <div class="comment-button-align">
          <button class="comment-button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}

  <!-- Comments display -->
  <div class="comment-section">
    {% for comment in post_comments %}
    <div class="comment">
      <div class="comment-user-avatar">
        <img src="{{comment.user.avatar.url}}" alt="" />
      </div>

      <div class="comment-content">
        <div class="comment-content-main">
          <div class="comment-content-main-name">
            <a href="{% url 'user-profile' comment.user.id %}">
              <p>{{comment.user.name}}</p>
            </a>
          </div>

          <div class="comment-content-main-content">
            <p>{{comment.content}}</p>
          </div>
        </div>

        {% if request.user == comment.user %}
        <div class="delete-comment">
          <a href="{% url 'delete-comment' comment.id %}"><img src="/static/images/icons/delete.svg" alt="" /></a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- <div class="comment-section">
    {% for comment in comments %}
    <div class="comment">
      <p>{{comment.content}}</p>
      <p>By: {{comment.user.name}}</p>
    </div>
    {% endfor %}
  </div> -->

  <script src="/static/js/like.js"></script>
  <!-- <script src="/static/js/comment.js"></script> -->
</main>
{% endblock content %}
