{% extends 'main.html' %} {% load like_tags %}

<!-- start block -->
{% block content %}
<main>
  <div>
    <div class="post-topic">
      <h3>@{{post.topic}}</h3>
      <a href="{% url 'user-profile' post.author.id %}"><small>{{post.author.name}}</small></a>
    </div>

    <div class="post-description">
      <h4>{{post.description}}</h4>
      <small>{{post.post_date}} </small>
    </div>
    {% if request.user == post.author %}
    <div>
      <a href="{% url 'update-post' post.id %}">edit</a>
      <a href="{% url 'delete-post' post.id%}">delete</a>
    </div>
    {% endif %}
    <div>
      <p>{{post.body|safe}}</p>
    </div>

    <!-- like -->

    <div>
      {% if request.user.is_authenticated %}
      <button class="like-button" data-post-id="{{post.id}}">
        {% if post|is_post_liked:request.user %}

        <!-- gap -->
        Unlike {% else %} like {% endif%}
      </button>

      {% endif %}
      <!-- like count -->
      <p id="like-count-{{post.id}}">{{post.likes.count}}</p>
    </div>
  </div>

  <script>
    const likeButton = document.querySelector(".like-button");
    likeButton.addEventListener("click", () => {
      const postId = likeButton.dataset.postId;
      likePost(postId);
    });

    function likePost(postId) {
      const url = `/like-post/${postId}/`;
      fetch(url, {
        method: "POST",
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
        },
      })
        .then((response) => {
          console.log(response);
          return response.json();
        })
        .then((data) => {
          if (data.success) {
            const likeCount = document.querySelector(`#like-count-${postId}`);
            const likeButton = document.querySelector(`.like-button[data-post-id="${postId}"]`);

            if (data.action === "like") {
              likeCount.textContent = `${parseInt(likeCount.textContent) + 1} likes`;
              likeButton.textContent = "Like";
            } else {
              likeCount.textContent = `${parseInt(likeCount.textContent) - 1} likes `;
              likeButton.textContent = "Unlike";
            }
          }
        });
    }

    function getCookie(name) {
      const cookieValue = document.cookie.match(`(^|;)\\s*${name}\\s*=\\s*([^;]+)`);
      return cookieValue ? cookieValue.pop() : "";
    }
  </script>
</main>
{% endblock content %}
