{% extends 'main.html' %} {% load like_tags %} {% load static %}

<!-- start block -->
{% block content %}
<main>
  <div>
    <div class="post-topic">
      <h3>@{{post.topic}}</h3>
      <a href="{% url 'user-profile' post.author.id %}"><small>{{post.author.name}}</small></a>
    </div>

    <div class="post-description">
      <h4>{{post.description}}</h4>
      <small>{{post.post_date}} </small>
    </div>
    {% if request.user == post.author %}
    <div>
      <a href="{% url 'update-post' post.id %}">edit</a>
      <a href="{% url 'delete-post' post.id%}">delete</a>
    </div>
    {% endif %}
    <div>
      <p>{{post.body|safe}}</p>
    </div>

    <!-- LIKES -->
    <div>
      {% if request.user.is_authenticated %}
      <button class="like-button" data-post-id="{{post.id}}">
        {% if post|is_post_liked:request.user %}

        <!-- gap -->
        Unlike {% else %} like {% endif%}
      </button>

      {% endif %}
      <!-- like count -->
      <span id="like-count-{{post.id}}">
        {{post.likes.count}}
        <!-- if -->
        {% if post.likes.count == 1 %} like {% else %} likes {%endif%}
      </span>
    </div>
  </div>
  <hr />

  <!-- COMMENTS form -->
  <form action="" id="comment-form" method="POST">
    {% csrf_token %}

    <div>
      <textarea name="comment-text" cols="50" rows="3" placeholder="Write a comment..."></textarea>
      <br />
      <button type="submit">Submit</button>
    </div>
  </form>

  <!-- Comments display -->
  <div class="comment-section">
    {% for comment in post_comments %}
    <div class="comment">
      <p>{{comment.content}}</p>
      <p>By: {{comment.user.name}}</p>
    </div>
    {% endfor %}
  </div>

  <!-- <div class="comment-section">
    {% for comment in comments %}
    <div class="comment">
      <p>{{comment.content}}</p>
      <p>By: {{comment.user.name}}</p>
    </div>
    {% endfor %}
  </div> -->

  <script src="/static/js/like.js"></script>
  <!-- <script src="/static/js/comment.js"></script> -->
</main>
{% endblock content %}
