{% extends 'main.html' %} {% block content %}
<main>
  <div class="home-featured">
    <h2>featured post and image</h2>
  </div>
  <hr />

  <!-- create and search posts -->
  <div class="create-search">
    <div>
      <a href="{% url 'create-post' %}">create post</a>
    </div>

    <div class="search-posts">
      <form action="">
        <input type="text" placeholder="search" />
      </form>
    </div>
  </div>

  <!-- body posts -->
  <div class="posts-container"></div>
</main>

{% endblock content %}
