{% extends 'main.html' %} {% block content %}
<main>
  <div class="home-featured">
    <h2>featured post and image</h2>
  </div>
  <hr />

  <!-- create and search posts -->
  <div class="create-search">
    <div>
      <a href="{% url 'create-post' %}">create post</a>
    </div>

    <div class="search-posts">
      <form action="{% url 'home' %}">
        <input name="search" type="search" id="search-home" placeholder="search" />
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
  {% if request.GET.search %}
  <div class="search-results-header">
    <p>Results for <span>'{{request.GET.search}}'</span></p>
    <a href="{% url 'home' %}">Show all</a>
  </div>
  {%endif%}

  <!-- body posts -->
  <div class="posts-container">
    <!-- posts -->
    {% for post in page_obj %}
    <div class="post-container">
      <a href="{% url 'post-details' pk=post.id %}">
        <h3>{{post.topic}}</h3>
      </a>
      <h4>{{post.description}}</h4>
      <p>{{post.body|safe}}</p>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <div class="paginator">
      {% if page_obj.has_previous %}
      <a href="?search={{ search_posts }}&page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <!-- for -->
      {% for num in page_obj.paginator.page_range %}
      <!-- if -->
      {% if page_obj.number == num %}
      <span class="current-page">{{ num }}</span>
      {% else %}
      <a href="?search={{ search_posts }}&page={{ num }}">{{ num }}</a>
      {% endif %}
      <!-- endfor -->
      {% endfor %}

      <!-- if -->
      {% if page_obj.has_next %}
      <a href="?search={{ search_posts }}&page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
  </div>
</main>

{% endblock content %}
