{% extends 'main.html' %} {% load static %}

<!-- start block -->
{% block content %}
<main>
  <div class="home-featured">
    <h2>featured post and image</h2>
  </div>
  <!-- <hr /> -->

  <!-- create and search posts -->
  <div class="create-search">
    <div class="create-post">
      <a href="{% url 'create-post' %}">create post </a>
    </div>

    <div class="search-posts">
      <form class="search-form" action="{% url 'home' %}">
        <input name="search" type="search" id="search-home" placeholder="search topic..." />
        <img class="search-icon" src="/static/images/icons/search.svg" alt="">
      </form>
    </div>
  </div>
  {% if request.GET.search %}
  <div class="search-results-header">
    <p>Results for <span>'{{request.GET.search}}'</span></p>
    <a href="{% url 'home' %}">Show all</a>
  </div>
  {%endif%}

  <!-- BODY POSTS-->
  <div class="posts-container">
    <!-- posts -->
    {% for post in page_obj %}

    <!-- if -->
    {% if post.post_image %}
    <div class="post-container">
      <div class="post-container-image">
        <img src="{{post.post_image.url}}" alt="Post image" />
      </div>

    {% else %}
    <div class="post-container">
      <div class="post-container-image">
        <img src="{% static 'images/default_images/post_default.jpg' %}" alt="default post image" />

      </div>

      {% endif %}


      <div class="post-container-body">
        <a href="{% url 'post-details' pk=post.id %}">
          <h3 class="topic-font">{{post.topic}}</h3>
        </a>
        <h4 class="description-font">{{post.description}}</h4>
        <p>{{post.body|safe|truncatewords:20}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
  <div class="paginator">
    {% if page_obj.has_previous %}
    <a href="?search={{ search_posts }}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <!-- for -->
    {% for num in page_obj.paginator.page_range %}
    <!-- if -->
    {% if page_obj.number == num %}
    <span class="current-page">{{ num }}</span>
    {% else %}
    <a href="?search={{ search_posts }}&page={{ num }}">{{ num }}</a>
    {% endif %}
    <!-- endfor -->
    {% endfor %}

    <!-- if -->
    {% if page_obj.has_next %}
    <a href="?search={{ search_posts }}&page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</main>

<script src="/static/js/searchPosts.js"></script>

{% endblock content %}
