<!-- Navbar and main components added without inheritance because of issues overriding the block tags in my navbar.html to exclude the login and profile Icon from the login page -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div id="login-form-logo" class="logo nav-container">
      <a href="/">
        <h3>DEVFEEL</h3>
      </a>
    </div>

    <main class="loginpage-body">
      <div class="loginform-container">
        <div class="login-header">
          <h2>Welcome back!</h2>
        </div>

        <form action="" method="POST">
          {% csrf_token %}
          <div>
            <!-- <label for="email">Email</label> -->
            <input class="login-email" placeholder="Email" type="text" name="email" id="email" autocomplete="off" />
          </div>
          <div>
            <!-- <label for="password">Password</label> -->
            <input placeholder="Password" class="login-password" type="password" , name="password" id="password" autocomplete="off" />
          </div>
          <div class="login-submit">
            <button type="submit">LOG IN</button>
          </div>
        </form>
        <!-- sign up -->
        <div class="login-center">
          <p>Not already signed up? <a href="{% url 'register' %}"> Register </a></p>
        </div>
        <!-- forgort passwords -->
        {% if reset_password %}
        <div class="login-center forgot-password">
          <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>

        <div class="reset-message">
          <p>Reset password is also being fixed, kindly don't use me</p>
        </div>
        {% endif %}
        <!-- error messages -->
        {% if messages %}
        <ul class="login-messages">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </main>
  </body>
</html>
