{% extends 'main.html' %}

<!-- start bod -->
{% block content %}
<main class="registration-body">
  <div class="registration-container">
    <div class="registration-header">
      <h2>Create an Account</h2>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- fields -->
      {% for field in form %}
      <div class="register-field">
        <label for="">{{field.label}}</label>
        {{field}}
      </div>
      {% endfor %}

      <div class="registration-submit"><button type="submit">Register</button></div>
    </form>
    <div>
      {% if messages %}
      <ul class="messages registration-messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</main>

{% endblock content %}
