{% extends 'main.html' %}

<!-- start bod -->
{% block content %}
<main>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- fields -->
    {% for field in form %}
    <div class="register-field">
      <label for="">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %}
    <hr />

    <!-- <div>
      <label for="avatar">Profile Picture</label>
      <input type="file" name="avatar" id="avatar" />
    </div> -->

    <button type="submit">Register</button>
  </form>

  <div>
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</main>

{% endblock content %}
