{% extends 'main.html' %} {% load static %}
<!-- start block -->
{% block content %}
<main>
  <form action="" method="POST" enctype="multipart/form-data" id="update-post-form">
    {% csrf_token %}

    <!-- start fields -->
    {{form.media}}
    <div>
      <label for="topic"></label>
      {{form.topic}}
    </div>

    <div>
      <label for="description"></label>
      {{form.description}}
    </div>

    <div>
      <label for="body"></label>
      {{form.body}}
    </div>

    <div>
      <label for="{{form.post_image.id_for_label}}">Change post image: </label>
      {{form.post_image}}
    </div>

    {% if form.post_image.value.url != '/images/default_images/post_default.jpg' %}
    <div>
      <input type="checkbox" , name="remove_post_image" id="remove_post_image" />
      <label for="remove_post_image">Remove post image</label>
    </div>
    {% endif %}

    <!-- endfields  -->
    <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    <button type="submit" id="editpost-btn">Edit</button>
  </form>

  <script src="{% static 'js/config.js' %}"></script>
  <!-- <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script> -->
</main>
{% endblock content %}
