{% extends 'main.html' %} {% load static %}
<!-- start block -->
{% block content %}
<main>
  <div class="edit-post-parent">
    <div class="edit-post-header">
      <h3>Edit post</h3>
    </div>
    <form action="" method="POST" enctype="multipart/form-data" id="update-post-form">
      {% csrf_token %}
      <!-- start fields -->
      {{form.media}}
      <div class="edit-post-container">
        <div>
          <label for="topic">Title</label>
          {{form.topic}}
        </div>
        <div>
          <label for="description">Description</label>
          {{form.description}}
        </div>
        <div>
          <label for="body">Content</label>
          {{form.body}}
        </div>
        <div>
          <label for="{{form.post_image.id_for_label}}">Change post image: </label>
          {{form.post_image}}
        </div>
        {% if form.post_image.value.url != '/images/default_images/post_default.jpg' %}
        <div class="edit-post-checkbox">
          <input type="checkbox" , name="remove_post_image" id="remove_post_image" />
          <label for="remove_post_image">Remove post image</label>
        </div>
        {% endif %}
      </div>
      <!-- endfields  -->
      <div class="edit-post-button">
        <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        <button type="submit" id="editpost-btn">Edit</button>
      </div>
    </form>
  </div>

  <script src="{% static 'js/config.js' %}"></script>
</main>
{% endblock content %}
