{% extends 'main.html' %} {% load static %}

<!-- start block -->
{% block content %}
<main>
  <div class="user-profile">
    <div class="user-profile-border-container">
      <div class="user-profile-head-container">
        <div class="user-profile-image">
          <img src="{{user.avatar.url}}" alt="Profile Picture" />
        </div>
        <div class="user-profile-username">
          <h3 class="username-font">{{user.name}}</h3>
        </div>
        {% if request.user.is_authenticated %}
        <div class="user-profile-edit">
          <a href="{% url 'edit-user-profile' user.id%}">
            <p class="userprofile-edit body-font">Edit Profile</p>
          </a>
        </div>
        {% endif %}
        <div>
          <p>{{user.bio}}</p>
        </div>
      </div>
    </div>

    <!-- <hr class="user-profile-hr" /> -->

    <div class="search-posts userprofile-search">
      <form class="search-form" action="{% url 'user-profile' user.id %}">
        <input name="search" type="search" id="search-home" placeholder="search for topic..." />
        <img class="search-icon" src="/static/images/icons/search.svg" alt="" />
      </form>
    </div>

    {% if request.GET.search %}
    <div class="search-results-header">
      <p>Results for <span>'{{request.GET.search}}'</span></p>
      <a href="{% url 'user-profile' user.id %}">Show all</a>
    </div>
    {%else%}
    <div class="user-posts-header topic-font">
      <h3>Posts</h3>
    </div>
    {%endif%}

    <div class="user-profile-posts-container">
      <div class="user-profile-center-posts">
        {% if posts %} {% for post in posts %}
        <div class="user-profile-post">
          <div>
            <a href="{% url 'post-details' pk=post.id %}">
              <h3 class="topic-font">{{post.topic}}</h3>
            </a>
          </div>

          <h4 class="description-font">{{post.description}}</h4>
          <p>{{post.body|safe|truncatewords:60}}</p>
        </div>
        {% endfor %} {% else %}
        <p>This user does not have any posts</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>

<script src="/static/js/searchPosts.js"></script>

{% endblock content %}
